# Database
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/Duro_Tracker"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=Duro_Tracker

# Application
APP_NAME="Duro Tracker API"
PRODUCTION=False
SECRET_KEY="supersecretkey_change_me_in_production"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=90
ALLOWED_HOSTS="*"
CORS_ORIGINS="*"

# Optional Redis
# REDIS_URL="redis://localhost:6379/0"
# REDIS_PREFIX="durotracker"
